.card{
	position: relative;
	text-align: left;
	background: $card-even;
	margin-bottom: 1%;

	&:before{
		transition: opacity .2 ease;
		content: " ";
		display: block;
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: $secondary;
		opacity: 0;
	}

	.check {
		transition: all .2 ease;
		display: block;
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		right: 0;
		left: 0;
		background: linear-gradient(to right, #57c3a3, #05aaad);
		margin: 0 auto;
		opacity: 0;
		width: 0px;
		height: 0px;
		border-radius: 150px;
		border: 10px solid rgba(255, 255, 255, .4);
		-webkit-background-clip: padding-box; /* for Safari */
    	background-clip: padding-box;
    	cursor: pointer;

		svg{
			display: block;
			margin: auto;
			right: 0;
			left: 0;
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			fill-opacity: 0.0;
		}
	}

	&:hover{
		&:before{
			transition: opacity .2s ease;
			opacity: .8;
		}

		.check{
			animation: expand .3s linear;
			opacity: 1;
			height: 150px;
    		width: 150px;

    		&:hover{
    			// &:after{
    			// 	content:"I've had it";
    			// 	color: white; 
    			// }
    		}

		}

		.path {
			stroke-dasharray: 1000;
			stroke-dashoffset: 1000;
			animation: dash 1.2s ease-in-out forwards;
		}
	}

	&.checked{
		.check{
			transition: all .2s ease;

			svg polyline{
				transform-origin: center center;
				animation: kablaam .4s ease-in-out;
				fill-opacity: 1;
			}
		}
	}
}

.card {
	h2 {
		color: $dark-gray;
		margin-bottom: 5px;
	}
}

.card h2,
.card h3,
.card p {
	padding: 0 10px;
}

.replace{
	display: none;
}

.card:nth-child(even){
	background-color: $card-odd;

	h2{
		color: darken($dark-gray, 10%);
	}
}


@keyframes dash {
  from {
    stroke-dashoffset: 1000;
  }
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes expand {
  0% {
   height: 0px;
   width: 0px;
  }
  75% {
    height: 175px;
    width: 175px;
  }
  100% {
    height: 150px;
    width: 150px;
  }
}

@keyframes kablaam {
	15% {
		transform: scale(.5);
	}
	30% {
		transform: scale(0);
	}
	50% {
		transform: scale(1.1)
	}
	100% {
		transform: scale(1)
	}
}








.mix h3{
	margin-top: 0px;
	font-weight: 300;
}
.mix .wrap {
	display: block;
	width: 100%;
	max-height: 200px;
	overflow: hidden;
/*position: relative;*/

}

.mix img {
	width: 100%;
	height: auto;
}

.container .mix.category-1{
	border-top: 2px solid limegreen;
}

.container .mix.category-2{
	border-top: 2px solid yellow;
}

@media all and (min-width: 420px){
	.container .mix,
	.container .gap{
		width: 32%;
	}
}

@media all and (min-width: 640px){
	.container .mix,
	.container .gap{
		width: 19%;
		display: block;
		height: 500px;
		overflow: hidden;
	}
}