header{
	position: relative;
	padding: 60px;
	text-align: center;
	text-transform: lowercase;
	letter-spacing: .1em;
	font-size: 1.5em;
	color: white;
	background: linear-gradient(to right, #57c3a3, #05aaad);

	.logo{
		width: 100%;
		text-align: center;
		position: absolute;
		left: 0;
		bottom: -50px;

		svg{
			width: 100px;
			height: auto;
		}
	}
}

footer{
	width: 100%;
	padding: 10px;
	background: linear-gradient(to right, #57c3a3, #05aaad);
	text-align: center;

	p{
		color: white;
	}
}