@import 'colors.scss';

body, html{
	margin: 0;
	padding: 0;
  font-family: 'Lato';
}

.master{
	display: block;
	width: 100%;
	height: 100%;
	padding: 0px;
}

*{
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.controls{
  padding: 1.5%;
  background: #1f1f1f;
  color: #eee;
}

label{
  font-weight: 300;
  margin: 0 .4em 0 0;
}

button{
  display: inline-block;
  padding: .4em .8em;
  background: #666;
  border: 0;
  color: #ddd;
  font-size: 16px;
  font-weight: 300;
  border-radius: 4px;
  cursor: pointer;
}

button.active{
  background: #68b8c4;
}

button:focus{
  outline: 0 none;
}

button + label{
  margin-left: 1em;
}

.container{
  padding: 2% 2% 0;
  text-align: justify;
  background-color: $bkg;
  
  -webkit-backface-visibility: hidden;
}

.container:after{
  content: '';
  display: inline-block;
  width: 100%;
}

.container .mix,
.container .gap{
  display: inline-block;
  width: 49%;
}

/*.container .mix:after{
  content: attr(data-myorder);
  color: white;
  position: absolute;
  font-size: 16px;
  top: 10px;
  right: 10px;
  display:block;
  vertical-align: top;
  font-weight: 700;
}*/


@import 'header.scss';
@import 'card.scss';





